/*.SearchBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;   
}
*/
.SearchBox {
  margin-top: 20px;
}

.SearchBox form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Stylish Input */
.SearchBox input {
  width: 260px;
  padding: 12px 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: #fff;
  transition: 0.3s ease;
}

.SearchBox input::placeholder {
  color: #eee;
}

.SearchBox input:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 8px #ffffff80;
}

/* Search Button */
.SearchBox button {
  width: 150px;
  padding: 10px 0;
  font-size: 1rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  background: linear-gradient(135deg, #4a90e2, #2672c9);
  color: white;
  font-weight: bold;

  box-shadow: 0 5px 15px rgba(66, 133, 244, 0.4);
  transition: 0.3s ease;
}

.SearchBox button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(66, 133, 244, 0.6);
}
